#housesbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 998;
}

body {
    background-image: url("/images/holding-hands-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

.white-bg {
    background-color: white;
}

h1 {
    color: black;
}

.opacity-85 {
    opacity: 0.85;
}

.card-shadow {
    box-shadow: 5px 5px 5px black;
}

.btn.btn-starter {
    color: #212529;
    background-color: #6cb2eb;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
}

.btn.btn-starter:hover, .btn.btn-starter:focus, .btn.btn-starter:active  { 
    color: white;
    background-color: black;
    transform: translateY(4px);
}

.btn.btn-info {
    color: #212529;
    background-color: #6cb2eb;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 9rem !important;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active { 
    color: white;
    background-color: black;
    transform: translateY(4px);
}

/* For landscape oriented devices */
@media only screen and (orientation: landscape) {
    .btn.btn-info, .btn.btn-starter, .btn.btn-starter-second-row {
        font-size: 15px !important;
        width: 8rem !important;
        height: 2rem;
    }
}



