/* Hide the scrollbar */
body::-webkit-scrollbar {
    display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

#navbar {
  /*overflow: hidden;*/
  background-color: black !important;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav .navbar-nav li a{
  color: white !important;  
}

/* Navbar dropdown menu */
.dropdown-menu{background:rgba(0,0,0,0.5); color:black; }
.dropdown .dropdown-menu a:hover{color: #6cb2eb !important; text-decoration: none !important;}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: black !important;}


/* Underline navbar link on hover animation */
.cool-link {
  display: inline-block;
  color: #6cb2eb;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #6cb2eb;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 75%;
}
/* ---------------------------------------- */

.mainbar {
  background-image: linear-gradient(to bottom right, transparent, #6b6b6a 30%, transparent, yellow 50%, transparent, #6cb2eb 70%);
  /*background: #b5b4b1;*/
}

/* Fade in */
.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Fade out */
.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
  
/* Opacity */
.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1 !important;
}

.thin-hr {
  margin-top:0;
  margin-bottom:0;
  margin-right: 0;
  margin-left: 0;
  border:0;
  width: 15%;
  height:1px;    
  background-color:#6cb2eb;    
}

.vl {
  border-left: 1px solid #6cb2eb;
  height: 40px;
}

/* For xs devices */
@media only screen and (max-width: 980px) {  
  /* Welcome screen buttons */
  #btn-group-sm-xs {
    display: block;
  }
  #btn-group-lg-md {
    display: none;
  }
  #btn-group-xl {
    display: none;
  }

  /* Navbar */
  #expandedSearch {
    display: none;
  }
  #collapsedSearch {
    display: block;    
  }
  input {
    text-align: center;
  }

  .navbar-nav {
    overflow: hidden !important;
    height: 100vh !important;
    padding-top: 10px;
    text-align: center;
  }
  .navbar-brand {
    height: 100px;
    font-size: 50px;
  }
  .navbar a {
    font-size: 50px;
  }
  nav .navbar-nav li a{
    font-size: 4.5rem !important;
  }
  .navbar-toggler-icon{
    font-size: 3rem;
  }
  #navbarSearch {
    width: 75%;
    height: 100px;
  }
  #navbarButton {
    width: 20%;
    height: 100px;
    font-size: 3rem;
  }
  input {
    font-size: 100px !important;
  }
  input[type="search"]::-webkit-search-cancel-button {
    /* Remove default 
    -webkit-appearance: none;
  
    /* Now your own custom styles */
    height: 100px !important;
    width: 100px !important;  
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 70px;
  }

  h4 {
    font-size: 60px;
  }

  h5 {
    font-size: 50px;
  }

  /* Filtering button bar */
  #btn-group-bar a {
    font-size: 37px;
  }  
  .btn {
    width: 95px;
    height: 75px;
  }

  /* Cards */
  .card {
    width: 56rem;  
  }
  .card-title {
    font-size: 60px;  
  }
  .card-body li {
    font-size: 40px;
  }
  /* Card button */
  .show-button {
    width: 90%;
    height: 100px;
  }
  .card-body a {
    font-size: 50px;
  } 
}

/* For sm, md/landscape oriented devices */
@media only screen and (orientation: landscape) {
  /* Welcome screen buttons */
  #btn-group-sm-xs {
    display: none;
  }
  #btn-group-lg-md {
    display: block;
  }
  #btn-group-xl {
    display: none;
  }

  /* Navbar */
  #expandedSearch {
    display: block;
  }
  #collapsedSearch {
    display: none;
  }

  .navbar-brand {
    height: 50px;
  }
  .navbar a {
    font-size: 30px;
  }
  nav .navbar-nav li a{
    font-size: 1rem !important;
  }
  .navbar-toggler-icon{
    font-size: 1.5rem;
  }
  #navbarSearch {
    width: 250px;
    height: 50px;
  }
  #navbarButton {
    width: 75px;
    height: 50px;
    font-size: 1rem;
  }
  input {
    font-size: 50px !important;
  }
  input[type="search"]::-webkit-search-cancel-button {

    /* Remove default 
    -webkit-appearance: none;
  
    /* Now your own custom styles */
    height: 100px !important;
    width: 100px !important;  
  }

  h1 {
    font-size: 45px;
  }

  /* Filtering button bar */
  #btn-group-bar a {
    font-size: 25px;
  }  
  .btn {
    width: 80px;
    height: 50px;
  } 

  /* Cards */
  .card {
    width: 18rem;  
  }
  .card-title {
    font-size: 25px;  
  }
  .card-body li {
    font-size: 15px;
  }
  /* Card button */
  .show-button {
    width: 90%;
    height: 50px;
  }
  .card-body a {
    font-size: 20px;
  }
}

/* For xl devices */
@media only screen and (min-width: 1201px) {
  #btn-group-sm-xs {
    display: none;
  }
  #btn-group-lg-md {
    display: none;
  }
  #btn-group-xl {
    display: inline;
  }
  
  /* Navbar */
  #expandedSearch {
    display: block;
  }
  #collapsedSearch {
    display: none;
  }

  .navbar-brand {
    height: 50px;
  }
  .navbar a {
    font-size: 30px;
  }
  nav .navbar-nav li a{
    font-size: 1rem !important;
  }
  .navbar-toggler-icon{
    font-size: 1.5rem;
  }
  #navbarSearch {
    width: 250px;
    height: 50px;
  }
  #navbarButton {
    width: 75px;
    height: 50px;
    font-size: 1rem;
  }
  input {
    font-size: 50px !important;
  }
  input[type="search"]::-webkit-search-cancel-button {

    /* Remove default 
    -webkit-appearance: none;
  
    /* Now your own custom styles */
    height: 100px !important;
    width: 100px !important;  
  }

  h1 {
    font-size: 45px;
  }

  /* Filtering button bar */
  #btn-group-bar a {
    font-size: 19px;
  }  
  .btn {
    width: 105px;
    height: 45px;
  } 

  /* Cards */
  .card {
    width: 18rem;  
  }
  .card-title {
    font-size: 25px;  
  }
  .card-body li {
    font-size: 15px;
  }
  /* Card button */
  .show-button {
    width: 90%;
    height: 50px;
  }
  .card-body a {
    font-size: 20px;
  }
}

