#navbar {
  overflow: hidden;
  background-color: black !important;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav .navbar-nav li a{
  color: white !important;  
}

/* Underline navbar link on hover animation */
.cool-link {
  display: inline-block;
  color: #6cb2eb;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #6cb2eb;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 75%;
}
/* ---------------------------------------- */

.mainbar {
  background-image: linear-gradient(to bottom right, #6b6b6a, white, #6cb2eb);
  /*background: #b5b4b1;*/
}

.sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

/* Fade in */
.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Fade out */
.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
  
/* Opacity */
.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}

.thin-hr {
  margin-top:0;
  margin-bottom:0;
  margin-right: 0;
  margin-left: 0;
  border:0;
  width: 15%;
  height:1px;    
  background-color:#6cb2eb;    
}


