#meetingsbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 998;
}

body {
    background-image: url("/images/holding-hands-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

.white-bg {
      background-color: white;
}

h1 {
      color: black;
}

.opacity-85 {
    opacity: 0.85;
}

.k-button {
    color: #212529;
    background-color: #6cb2eb;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}

.k-button:hover {
      background-color: black !important;
}
  
.k-button:active {
    background-color: black !important;
    transform: translateY(4px);
}

.card-shadow {
    box-shadow: 5px 5px 5px #6cb2eb;
}

