body {
    background-image: url("/images/holding-hands-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
  }

  .white-bg {
      background-color: white;
  }

  h1 {
      color: black;
  }

  h1:hover {
    color: #6cb2eb !important;
}

.opacity-85 {
    opacity: 0.85;
}

