#welcomebar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 998;
}

#leftHalf {    
    position: absolute;
    left: 0px;
 }

 #rightHalf {    
    background: url("/images/bw-central-office-window.jpg");
    background-repeat: no-repeat;  
    background-size: contain;  
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
 }

.btn.btn-starter {
    color: #212529;
    background-color: #6cb2eb;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
    width: 10rem !important;
}

.btn.btn-starter:hover, .btn.btn-starter:focus, .btn.btn-starter:active  { 
    color: white;
    background-color: black;
    transform: translateY(4px);
}

.btn.btn-info {
    color: #212529;
    background-color: #6cb2eb;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 10rem !important;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active  { 
    color: white;
    background-color: black;
    transform: translateY(4px);
}

/* For sm, xs devices */
@media only screen and (min-width: 0px)and (max-width: 660px) {
    /* Welcome screen left and right divs */
    #content-md-sm-xs {
        display: block;
    }
    #content-xl-lg {
        display: none;
    }
}

/* For lg, md devices */
@media only screen and (min-width: 661px) and (max-width: 1330px) {
    /* Welcome screen left and right divs */
    #content-md-sm-xs {
        display: none;
    }
    #content-xl-lg {
        display: block;
    }
  }